@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "맑은 고딕";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
}

img{
    vertical-align: top;
}

.cf:after{
    content: '';
    display: block;
    clear: both;
}

.hidden{
    display: none;
}

.wrapper{
    width: 1200px;
    margin: 0 auto;
}

header{
    height: 100px;
}

.slides{
    height: 300px;
    background: #bbb;
}

main{
    height: 200px;
    background: #fff;
}

footer{
    height: 100px;
    background: #ddd;
}

header .logo{
    width: 200px;
    float: left;
    padding-top: 30px;
}

header nav{
    width: 720px;
    float: right;
    margin-top: 30px;
    margin-right: 10px;
    position: relative;
    z-index: 1;
}

nav>ul>li{
    line-height: 40px;
    float: left;
    width: 180px;
    text-align: center;
    position: relative;
}

nav>ul>li a{
    color: #fff;
    display: block;
    background: #333;
}

nav ul ul li a{
    background: #fff;
    display: block;
    color: #333;
}

nav>ul>li a:hover{
    background: #FCA148;
}

nav ul ul a:hover{
    background: #49D2FC;
}

nav ul ul{
    position: absolute;
    left: 0;
    width: 100%;
    display: none;
}

.slides{
    overflow: hidden;
    height: 300px;
}

.slides>ul{
    height: 900px;
}

.slide{
    width: 1200px;
    height: 300px;
    position: relative;
}

.slide h2{
    position: absolute;
    left: 50%;
    top: 50%;
    background: rgba(0,0,0,0.8);
    padding: 10px 25px;
    color: #fff;
    transform: translate(-50%, -50%);
}

main section{
    width: 400px;
    float: left;
    height: 100%;
}

main .notice{
    background: #777;
}

main .banner{
    background: #666;
}

main .quick_links{
    background: #555;
}

footer div{
    float: left;
    height: 100%;
}

footer .logo{
    width: 200px;
    background: #444;
}

footer .copyright{
    width: 800px;
    background: #333;
}

footer .sns{
    width: 200px;
    float: left;
    background: #222;
    height: 100%;
}